.logo {
    font-size: 2rem;
    font-weight: 900;
    margin: 0px 10px;
}
#preloader{
    background: #000 url("images/loader.gif") no-repeat center center;
    height: 100vh;
    background-size: 30%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
span {
    text-transform: uppercase;
    color: cornflowerblue;
    transition: .5s;
}
span:hover{
    color: white;
}
nav ul li a {
    padding: 5px 20px !important;
    transition: all 3s ease-in-out !important;
}

nav ul li:hover {
    background-color: #ccc;
}

.nav1 {
    transition: all .2s ease-in-out;
}

.nav1:hover {
    transform: scale(90%) !important;
    color: #333 !important;

}

#cursor {
    position: absolute;
    width: 150px;
    height: 50px;
     top: 8px;
     right: 480px;
    border: 2px solid black;
    border-radius: 40px;
    /* position: relative; */
}

#cursor::after {
    position: absolute;
    content: "";

    width: 40px;
    height: 40px;
    top: 3px;
    left: 2px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

#cursor.active::after {
    left: 102px;
    background-color: #333;
}

body.night {
    color: white;
    background-color:#5f27cd;
}
#cursor-btn{
    width: 20px;

    height: 20px;
    border-radius: 50%;
    background-color: #5f27cd;
    filter: drop-shadow(5px 5px 15px #5f27cd);
    position: relative;
    position: fixed;
}
#cursor-btn::before{
position: absolute;
content: "";
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
display: flex;
background-color: #5f27cd;
opacity: 0.2;
border-radius: 50%;
animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}